<h1 style="display: flex; justify-content: center">НАЙ-ПРОДАВАНИ ПРОДУКТИ</h1>

<div class="row">
  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8734/damski-komplekt-penelopa-vanya-fashion-copy-63d8ff306eff4_600x600.jpeg?1675165515" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект ЖАКЛИН, 882 Vanya Fashion</strong>
      <h4>57,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8712/damski-komplekt-svetlana-vanya-fashion-copy-63d432993d122_600x600.jpeg?1674851323" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СВЕТЛАНА, 885 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8585/damska-rokla-ambar-vanya-fashion-copy-63a35f09ad0e9_600x600.jpeg?1671651100" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект ЖАКЛИН, 882 Vanya Fashion</strong>
      <h4>39,90 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>
      <h4>55,00 лв.</h4>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button class="hide-btn" mat-raised-button>КУПИ</button>
    </mat-card-actions>
  </mat-card>
</div>

<!--<div style="display: flex; justify-content: center">-->
<!--  <mat-card class="example-card">-->
<!--    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8734/damski-komplekt-penelopa-vanya-fashion-copy-63d8ff306eff4_600x600.jpeg?1675165515" height="200px" width="230px" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content class="card-content">-->
<!--      <strong style="text-align: center;">Дамски комплект ЖАКЛИН, 882 Vanya Fashion</strong>-->
<!--      <h4>57,00 лв.</h4>-->
<!--    </mat-card-content>-->
<!--    <br>-->
<!--    <mat-card-actions>-->
<!--      <button class="hide-btn" mat-raised-button>КУПИ</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->

<!--  <mat-card class="example-card">-->
<!--    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8712/damski-komplekt-svetlana-vanya-fashion-copy-63d432993d122_600x600.jpeg?1674851323" height="200px" width="230px" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content class="card-content">-->
<!--      <strong style="text-align: center;">Дамски комплект СВЕТЛАНА, 885 Vanya Fashion</strong>-->
<!--      <h4>55,00 лв.</h4>-->
<!--    </mat-card-content>-->
<!--    <br>-->
<!--    <mat-card-actions>-->
<!--      <button class="hide-btn" mat-raised-button>КУПИ</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->

<!--  <mat-card class="example-card">-->
<!--    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/8585/damska-rokla-ambar-vanya-fashion-copy-63a35f09ad0e9_600x600.jpeg?1671651100" height="200px" width="230px" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content class="card-content">-->
<!--      <strong style="text-align: center;">Дамски комплект ЖАКЛИН, 882 Vanya Fashion</strong>-->
<!--      <h4>39,90 лв.</h4>-->
<!--    </mat-card-content>-->
<!--    <br>-->
<!--    <mat-card-actions>-->
<!--      <button class="hide-btn" mat-raised-button>КУПИ</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->

<!--  <mat-card class="example-card">-->
<!--    <img mat-card-image src="https://cdncloudcart.com/10876/products/images/7298/damski-komplekt-siana-vanya-fashion-copy-630406001babc_600x600.jpeg?1661208081" height="200px" width="230px" alt="Photo of a Shiba Inu">-->
<!--    <mat-card-content class="card-content">-->
<!--      <strong style="text-align: center;">Дамски комплект СИАНА, 1648 Vanya Fashion</strong>-->
<!--      <h4>55,00 лв.</h4>-->
<!--    </mat-card-content>-->
<!--    <br>-->
<!--    <mat-card-actions>-->
<!--      <button class="hide-btn" mat-raised-button>КУПИ</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->
