<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header id="nav-menu" aria-label="navigation bar">
  <div class="container">
    <div class="nav-start">
      <a class="logo" href="/">
        <img src="https://cdncloudcart.com/10876/logo/1.svg?1675777032" width="170" height="170" alt="Inc Logo" />
      </a>
<!--      <form class="search" role="search">-->
<!--        <input type="search" name="search" placeholder="Search" />-->
<!--        <i class="bx bx-search" aria-hidden="true"></i>-->
<!--      </form>-->
      <form class="search-bar-component">
        <input class="search-bar-input" type="search" placeholder="Search...">
        <button class="search-bar-button" type="submit">Search</button>
      </form>
      <div class="telephone-info">
        <img class="telephone-icon" src="https://cdn-icons-png.flaticon.com/512/7044/7044607.png" width="45" height="45" />
        <p>
          <strong>
            Една крачка пред другите!
          </strong>
          <br>
          За поръчки и запитвания:
          <br>
          <span>
            +359 886 857 793
          </span>
        </p>
      </div>
    </div>

    <div class="nav-end">
      <div class="right-container">
        <a class="user-icon" href="#profile">
          <img src="https://static.vecteezy.com/system/resources/previews/020/911/740/non_2x/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" width="30" height="30" alt="user image" />
        </a>
        <a class="shopping-cart-icon" href="#shopping-cart">
          <img src="https://media.istockphoto.com/id/639201180/vector/shopping-cart-icon.jpg?s=612x612&w=0&k=20&c=AIDue0uA36lvIYf4gstcMYqcIwCK_p3_RQb0EQv9XsI=" width="30" height="30" alt="user image" />
        </a>
      </div>

<!--      <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="bx bx-menu" aria-hidden="true"></i>-->
<!--      </button>-->
    </div>
  </div>
</header>

<hr>

<div class="header-buttons">
  <button class="button"><span>SALE </span></button>
  <button class="button"><span>РОКЛИ </span></button>
  <button class="button"><span>КОМПЛЕКТИ </span></button>
  <button class="button"><span>РИЗИ </span></button>
  <button class="button"><span>БЛУЗИ </span></button>
  <button class="button"><span>ТУНИКИ </span></button>
  <button class="button"><span>ВРЪХНИ ДРЕХИ </span></button>
  <button class="button"><span>ПАНТАЛОНИ </span></button>
  <button class="button"><span>ГАЩЕРИЗОНИ </span></button>
  <button class="button"><span>МАКСИ ДРЕХИ </span></button>
</div>
