<app-toolbar></app-toolbar>
<app-home-screen-page></app-home-screen-page>
<app-grid-collections-row></app-grid-collections-row>
<app-grid-row></app-grid-row>
<div style="position: relative;
  top: 0;
  left: 0;">
  <img style="position: relative; top: 0;left: 0;" width="100%" mat-card-image
       src="https://cdncloudcart.com/10876/files/image/bg1.jpg" alt="Photo of a Shiba Inu">
  <div style="">
    <img width="200px" height="200px" mat-card-image
         src="https://cdncloudcart.com/10876/files/image/iconsnew-01.svg" alt="Photo of a Shiba Inu">
    <img width="200px" height="200px" mat-card-image
         src="https://cdncloudcart.com/10876/files/image/icons-02.svg" alt="Photo of a Shiba Inu">
    <img width="200px" height="200px" mat-card-image
         src="https://cdncloudcart.com/10876/files/image/icons-03.svg" alt="Photo of a Shiba Inu">
    <img width="200px" height="200px" mat-card-image
         src="https://cdncloudcart.com/10876/files/image/icons-04.svg" alt="Photo of a Shiba Inu">
  </div>
</div>
