.container .btn {
  position: absolute;
  top: 62%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}

.container .btn:hover {
  background-color: black;
}

.home-screen-image:hover {
  cursor: pointer;
}

.container {
  padding-bottom: 1.5rem;
}
