.grid-container {
  display: table;
}

.first-two-grid > img {
  margin: 0 1rem 1rem 0;
}

.second-two-grid > img {
  margin: 0 1rem 1rem 0;
}

.grid-container-second {
  display: table;
}

.first-first-two-grid > img {
  margin: 0 1rem 1rem 0;
}

.second-second-two-grid > img {
  margin: 0 1rem 1rem 0;
}

.parent-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.first-img:hover {
  transform: translateY(-10px);
}

.second-img:hover {
  transform: translateY(-10px);
}

.third-img:hover {
  transform: translateY(-10px);
}

.forth-img:hover {
  transform: translateY(-10px);
}

.fifth-img:hover {
  transform: translateY(-10px);
}

.sixth-img:hover {
  transform: translateY(-10px);
}
.seventh-img:hover {
  transform: translateY(-10px);
}

.eigth-img:hover {
  transform: translateY(-10px);
}
