<div class="parent-container">
  <div class="grid-container">
    <div class="first-two-grid">
      <img class="first-img" style="cursor: pointer" src="https://cdncloudcart.com/19146/files/image/dresses.jpg" width="180" height="190" alt="Inc Logo"/>
      <img class="second-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/sets.jpg" width="180" height="190" alt="Inc Logo"/>
    </div>
    <div class="second-two-grid">
      <img class="third-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/shirts.jpg" width="180" height="190" alt="Inc Logo"/>
      <img class="forth-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/blouses.jpg" width="180" height="190" alt="Inc Logo"/>
    </div>
  </div>
  <div>
    <img class="forth-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/cat2-63e22b7971fea.jpg" width="350" height="400" alt="Inc Logo"/>
  </div>
  <div class="grid-container-second">
    <div class="first-first-two-grid">
      <img class="fifth-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/tunics.jpg" width="180" height="190" alt="Inc Logo"/>
      <img class="sixth-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/outwear.jpg" width="180" height="190" alt="Inc Logo"/>
    </div>
    <div class="second-second-two-grid">
      <img class="seventh-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/cat_0001_group-2-copy-4.jpg" width="180" height="190"
           alt="Inc Logo"/>
      <img class="eigth-img" style="cursor: pointer" src="https://cdncloudcart.com/10876/files/image/overall.jpg" width="180" height="190" alt="Inc Logo"/>
    </div>
  </div>
</div>
