<div class="container">
  <img width="100%" mat-card-image
       src="https://cdncloudcart.com/10876/files/image/bg1.jpg" alt="Photo of a Shiba Inu">
  <div class="text-on-picture">
    <div>
      <strong>Vanya Fashion boutique</strong>
      <span> е моден онлайн магазин с богат асортимент на уникални модели дамски дрехи</span>
    </div>
    <br>
    <a class="text" style="color: orange; text-decoration: underline; text-decoration-color: #8f867c; cursor: pointer">ВИЖ ВСИЧКИ ПРОДУКТИ ТУК</a>
  </div>
</div>
